{% assign post = include.post %}
{% if post.type == "micropost" %}
  <article class="post-card post-card--micro">
    <a class="post-card__micro-link" href="{{ post.url | relative_url }}">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d-%m-%Y" }}</time>
      <div class="post-card__micro-content">
        {{ post.content | markdownify }}
      </div>
      {% if post.categories %}
        <ul class="tag-list" aria-label="Categories">
          {% for category in post.categories %}
            <li>{{ category }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </a>
  </article>
{% elsif post.type == "content" or post.type == "excerpt" %}
  <article class="post-card post-card--content">
    <h2>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h2>
    <div class="post-card__content-preview">
      {{ post.excerpt }}
    </div>
    {% if post.excerpt != post.content %}
      <a class="continue-reading-link" href="{{ post.url | relative_url }}">Continue reading</a>
    {% endif %}
    {% if post.categories %}
      <ul class="tag-list" aria-label="Categories">
        {% for category in post.categories %}
          <li>{{ category }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d-%m-%Y" }}</time>
  </article>
{% else %}
  <article class="post-card">
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d-%m-%Y" }}</time>
    <h2>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h2>
    {% if post.categories %}
      <ul class="tag-list" aria-label="Categories">
        {% for category in post.categories %}
          <li>{{ category }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </article>
{% endif %}
