---
layout: default
---

{% assign blogpost_type = page.blogpost_type | default: page.type | default: "standard" %}

{% if blogpost_type == "micropost" %}
  {% assign micro_logo = site.micro_logo | default: site.logo %}
  {% assign micro_external_url = page.external_url | default: page.link %}
  {% assign micro_service_icon = "" %}
  {% assign micro_service_label = "" %}
  {% if micro_external_url contains "threads.net" or micro_external_url contains "threads.com" %}
    {% assign micro_service_icon = "fa-brands fa-threads" %}
    {% assign micro_service_label = "Threads" %}
  {% elsif micro_external_url contains "bsky.app" or micro_external_url contains "bluesky" %}
    {% assign micro_service_icon = "fa-brands fa-bluesky" %}
    {% assign micro_service_label = "Bluesky" %}
  {% endif %}
  <article class="article article--post article--micro">
    <p class="micro-box__label">Micropost...</p>
    <div class="micro-box">
      <div class="micro-box__body">
        <div class="article__content micro-box__content">
          {{ content }}
        </div>
        <footer class="micro-box__meta">
          {% if page.categories %}
            <ul class="tag-list" aria-label="Categories">
              {% for category in page.categories %}
                <li>{{ category }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          <time class="micro-box__date" datetime="{{ page.date | date_to_xmlschema }}">{% include date.html date=page.date %}</time>
        </footer>
      </div>
      <img class="micro-box__avatar" src="{{ micro_logo | relative_url }}" alt="">
      {% if micro_service_icon %}
        <span class="micro-box__source" aria-label="External post on {{ micro_service_label }}">
          <i class="{{ micro_service_icon }}" aria-hidden="true"></i>
        </span>
      {% endif %}
    </div>
  </article>
{% else %}
  <article class="article article--post">
    <header class="article__header">
      <div class="article__meta">
        {% if page.categories %}
          <ul class="tag-list" aria-label="Categories">
            {% for category in page.categories %}
              <li>{{ category }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <time datetime="{{ page.date | date_to_xmlschema }}">{% include date.html date=page.date %}</time>
      </div>
      <h1>{{ page.title }}</h1>
    </header>

    {% if page.translation_notice %}
      <aside class="translation-notice" aria-label="Translation notice">
        <p>Originally posted on Alxndrr.nl in Dutch. This post was automatically translated, so some mistakes may have slipped through.</p>
      </aside>
    {% endif %}

    {% if page.archive_disclaimer %}
      <aside class="archive-disclaimer" aria-label="Archive disclaimer">
        <p class="archive-disclaimer__label">Old archive post</p>
        <p>{{ page.archive_disclaimer }}</p>
      </aside>
    {% endif %}

    {% if page.translation_notice and page.image %}
      <img class="article__featured-image" src="{{ page.image | relative_url }}" alt="">
    {% endif %}

    <div class="article__content">
      {{ content }}
    </div>
  </article>
{% endif %}
